* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  height: 14vh;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #e2e2e2;
}

.box1 {
    display: flex;
    width: 64vw;
    justify-content: space-between;
    align-items: center;
    border: 2px solid green;
}

header nav {
  display: flex;
  width: 14vw;
  justify-content: space-between;
  align-items: center; /* passou a altura na tag pai, portante, aqui não precisa */
  border: 2px solid;
}

h1 {
  font-family: "Caesar Dressing", cursive;
  font-weight: 100;
  font-size: 50px;
}

.box2 {
    display: flex;
    width: 14vw;
    flex-direction: row-reverse;
    align-items: center;
    border: 2px solid;
}

header div {
  display: flex;
  width: 10vw;
  justify-content: space-between;
  align-items: center;
  border: 2px solid red;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 140vh;
}

main ul {
  display: flex;
  width: 32vw;
  justify-content: space-between;
  list-style: none;
  border: 2px solid;
}

main a {
  color: black;
  text-decoration: none;
}

main figure {
    display: flex;
    width: 64vw;
    justify-content: space-between;
}

.xbox {
  background-image: url("./assets/desktop/xbox.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20vw;
  height: 54vh;
  color: white;
  border-radius: 4px;
  position: relative;
}

.xbox div{
    position: absolute;
    bottom: 0;
}

.menina {
  background-image: url("./assets/desktop/menina.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20vw;
  height: 54vh;
  color: white;
  border-radius: 4px;
  position: relative;
}

.menina div{
    position: absolute;
    bottom: 0;
}

.personagens {
  background-image: url("./assets/desktop/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20vw;
  height: 54vh;
  color: white;
  border-radius: 4px;
  position: relative;
}

.personagens div{
    position: absolute;
    bottom: 0;
}

.carro {
  background-image: url("./assets/desktop/carro.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 64vw;
  height: 54vh;
  color: white;
  border-radius: 4px;
  position: relative;
}

.carro div{
    position: absolute;
    bottom: 0;
}

.mais {
    display: flex;
    width: 20vw;
    justify-content: space-evenly;
    align-items: center;
    border: solid 2px pink;
}

footer {
    display: flex;
    height: 14vh;
    justify-content: center;
    align-items: center;
    border-top: solid 1px #e2e2e2;
}

footer section {
    display: flex;
    width: 64vw;
    justify-content: space-between;
    align-items: center;
    border: solid 2px;
}

footer div {
    display: flex;
    width: 8vw;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
}

footer ul {
    display: flex;
    width: 28vw;
    justify-content: space-between;
    border: 2px solid pink;
    list-style: none;
}

footer a {
    text-decoration: none;
    color: black;
}

/* max-width - tamanho máximo // min-width - tamanho mínimo */
@media (max-width: 500px) {
  header {
    background-color: hotpink;
  }
}
